# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/
.venv/
.env/
.conda/
.ipynb_checkpoints/

# Tests
.pytest_cache/
.coverage
htmlcov/

# Sphinx
docs/build/
docs/_build/

# OS/editor
.DS_Store
.vscode/
